  @font-face {
    font-family: 'Poppins';
    src: url('Fuentes/Poppins/Poppins-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('Fuentes/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
*{
    margin:0;
    box-sizing: border-box;
    line-height: 30px;
}

body {
    color: #616161; 
    font-family: Montserrat;
    padding-top: 70px;
    background-color: #f7fafd;
}
.header{
    background-color: #213782;
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.226);
}
.box-1 {
	overflow: hidden;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}
.box-2 {
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 50px;
}
.principios{
    padding-top: 70px;
    padding-bottom: 70px;
}

#contenedor-video {
    position: relative;
    background-position: 50%;
    background-size: cover;
    text-align: center;
    transition: .8s;
}

#contenedor-video video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/*
.imagen-fondo{
    background: url('https://i.postimg.cc/GtJkKB9t/background-1-1.jpg') no-repeat center center;
    background-size: cover; 
}
*/
.items {
	padding-top: 8rem;
	padding-bottom: 8rem;
	background-color: #213782;
}
.contenedor {
    display: flex;
    justify-content:center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
.margenes-laterales{
    margin-left: 80px;
    margin-right: 80px;
}
.text-container {
    margin-top: 2rem;
	margin-bottom: 2rem;
}
a{
    color: #616161; 
}
.blanco{
    color: white;
}
.gris-claro{
    color: rgb(243, 243, 243);
}
a:link, a:visited, a:active{
    text-decoration: none;
}
.p-large {
	font-size: large;
}

.p-small {
	font-size: medium;
}
.p-tiny {
	font-size:small;
}
.p-header {
    margin: 1% 20% 5% 20%;
	text-align: center;
}
h1 {
	color: #000000;
    font-size: 50px;
}
h2 {
	color: #000000;
	font-size: 40px;
}
h3 {
	color: #000000;
}
.titulo-simple{
    text-align: left;
}
.sombreado{
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.226);
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.logo{
    font-size: 30px; 
    font: bold;
    padding: 0px 40px; 
    line-height: 70px;
}
#logo{
    padding-left: 1rem;
    width: 60px;
}
.logo-image{
    width: auto;
    height: 70px;
    display:flex;
    align-items: center
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-family: Montserrat;
    font-size: 18px;
    margin: 0 10px;
    line-height: 70px;
    text-transform: uppercase;
    width: max-content;
}

.nav-link{
    color: white;
    text-decoration: none;}
    
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 20px;
}
.nav-menu-link:hover,
.nav-menu-link_active{
    background-color: #dda64b;
    transition: 0.2s;
}
.nav-menu-link-border {
    font-weight: bold;
	border: 2px solid #dda64b;
	background-color: transparent;
	color: #dda64b;
	transition: all 0.2s;
}
.nav-menu-link-border:hover {
	border: 2px solid #dda64b;
	background-color: #dda64b;
	color: #fff;
	text-decoration: none;
}
.boton-solido {
    font-weight: bold;
	border: 2px solid rgba(255, 255, 255, 0.708);
	background-color: transparent;
	color: rgba(255, 255, 255, 0.708);
	transition: all 0.2s;
}

.boton-solido:hover {
	border: 2px solid #dda64b;
	background-color: #dda64b;
	color: white;
	text-decoration: none;
}
.boton-simple {
    font-weight: bold;
    border: 2px solid #213782;
    color: #213782;
    transition: all 0.2s;
    width: max-content;
    padding-left: 15px;
    padding-right: 15px;
}
.boton-simple:hover{
    border: 2px solid #6373a7;
    color: white;
    background-color: #213782;
}

.nav-toggle{
    color: white;
    background:none;
    border: none;
    font-size: 25px;
    padding: 0 15px 50%;
    line-height: 50px;
    display: none;
    cursor: pointer;
}
.imagen-contenido{
    display: flex;
    justify-content: center;

}
.imagen-box-2{
    width: 500px;

}
#img-celular_1{
    width: 100%;
    height: auto;

}
.contenido-box_2{
    margin-top: 100px;
    width: 500px;
    height: max-content;
}
.margen-texto-superior{
    margin-top: 20px;
}
.boton-box-2{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 10px;
}

.unidad {
    display: flex;
    flex: 0 1 100%;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
.unidad-equipo {
    display: flex;
    flex: 0 1 100%;
    margin-right: 10px;
    max-height: 140px;
}
.unidad-equipo-izquerda{
    flex: 0 0 auto;
    max-height: 140px;
    max-width: 140px;
    margin-right: 20px;
    text-align: left;
}
.primer-unidad {
    margin-left: 1px;
    text-align: left;
}
.ultima-unidad {
    margin-right: 1px;
    text-align: left;
}
.unidad-izquerda{
    flex: 0 0 auto;
    max-width: 100%;
    margin-right: 15px;
    text-align: left;
}
.unidad-cuerpo {
    flex: 0 1 auto;
    text-align: left;
}
.persona{
    margin-left: 20px;
    margin-right: 20px;
    align-content:flex-start;

}
.primer-persona{
    margin-right: 20px;
    align-content:flex-start;
}
.ultima-persona{
    margin-left: 20px;
    align-content:flex-start;
}
.item-flotante {
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    color: #6372a7;
    background: #fff;
    border-radius: 50%;
    box-shadow: 7px 7px 13px 0 rgb(0 0 0 / 5%);
}
.contenido {
    margin-top: 15px;
    text-align: left;

}
.img-equipo{
    width: 140px;
    height: 140px;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.319);
}
.aliner-items-centro {
    align-items: center !important;
}

.alinear-items-izquierda{
    justify-content: left;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.contenedor-equipo {
    display: flex;
    justify-content:center;
    margin-top: 50px;
}
/************************/
/*     Estadisticas     */
/************************/
.contador {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: #d1d6e5;
	text-align: center;
}

#contador {
	margin-bottom: 1px;
}

.cell {
	display: inline-block;
	width: 200px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 40px;
    margin-top: 40px;
	vertical-align: top;
}

.contador-icono {
    font-size: 80px;
	margin-bottom: 30px;
	color: #aa7eec;
}

.contador-icono-color-rojo {
	color: #bf0000;
}

.contador-icono-color-amarillo {
	color: #dda64b;
}

.contador-icono-color-azul {
	color: #213782;
}

.counter-value {
	color: #000000;
	font-weight:bolder;
	font-size: 50px;
	vertical-align: middle;
    margin-bottom: 15px;
}

.counter-info {
	vertical-align: middle;
    text-align: center;
}
.columna-contador {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
/******************/
/*     Footer     */
/******************/
.footer-contenedor {
    display: flex;
    justify-content:center;
}
.footer {
	margin-top: 40px;
	padding-top: 40px;
	border-top: 1px solid #d1d6e5;
    
}
.footer-columna {
	display: inline-block;
	width: auto;
    margin-right: 15px;
    margin-left: 15px;
	margin-bottom: 1.5rem;
    vertical-align: top;
}
.footer-contenido-columna{
    margin-top: 10px;

}
.footer-columna-nosotros{
    width: 250px;
    line-height: 30px;
}
.footer-columna-contacto{
    width: 230px;
    line-height: 30px;
}
.footer-columna-enlaces{
    width: 180px;
    line-height: 30px;
}
.footer-columna-redes{
    vertical-align: top;
    width: auto;
}
.icon-redes {
    color: #213782;
    display: inline-block;
    font-size: 30px;
    position: relative;
    vertical-align: middle;
    width: 30px;
 }
.icon-redes:hover {
    color: #6373a7;
    transition: all 0.2s ease;
 }
.lista-sin-estilo{
    padding-left: 0;
    list-style: none;
}
.footer-media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.footer-media-icon {
    height: 30px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
  
.media-body {
    -ms-flex: 1;
    flex: 1;
}
.label {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    font-size: 15px;
    font-size: 10px;
}
.label-dark {
    padding-top: 15px;
    padding-bottom: 15px;
    width: auto;
    color: #fff;
    background-color: #181C32;
}
    
/*********************/
/*     Copyright     */
/*********************/
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
.copyright a{
    color: #6373a7;
	text-decoration: none;
}

@media (max-width: 768px){
    body{
        padding-top: 50px;}
    
    .header{
        height: 50px;
        position: fixed;
        width: 100%;
        top: 0%;
        left: 0%;}
    .logo{
        font-size: 25px;
        padding: 0px 20px; 
        line-height: 50px;
    }
    #logo{
        width: 50px;
    }
    .box-1{
        padding-top: 140px;
        padding-bottom: 140px;
    }
    .logo-image{
        width: auto;
        height: 50px;
        vertical-align: middle;
    }
    h1 {
        color: #000000;
        font-size: 35px;
    }
    h2 {
        color: #000000;
        font-size: 25px;
    }
    h3 {
        color: #000000;
        font-size: 20px;
    }
    .p-header {
        margin: 0% 5% 10% 5%;
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #6372a7f0;
        position:fixed;
        left: 0%;
        top: 50px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 50px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s
    }
    .nav-menu-item{
        line-height: 60px;
    }
    .nav-menu-link:hover,
    .nav-menu-link_active{
        background: none;
        color: #dda64b;
    }
    .nav-toggle{
        display: block;
    }
    .nav-menu_visible{
        left: 0%;
    }
    .nav-toggle:focus:not(:focus-visible){
        outline: none;
    }
    
}